* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.form-title {
  margin: 1rem auto;
  margin-left: 1rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-form-title {
  background-color: transparent;
  font-size: 2rem;
  border: none;
  width: 29%;
  padding: 0.2rem 0.3rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}
.input-form-title:focus {
  outline: none;
  border-bottom: 2px solid #339af0;
}
h5 {
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 500;
}
.form-title-p {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 300;
  color: #adb5bd;
}
.main-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;
  row-gap: 4rem;
  margin-bottom: 4rem;
}
.div-con-for-form {
  margin: 1rem auto;
  margin-left: 1rem;
  max-width: 70rem;
  background-color: #fff;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  padding: 8rem 5rem;
  border: 1px solid #e9ecef;
}
.per-det-inp {
  background-color: #e9ecef;
  height: 5rem;
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 3px;
  font-family: "Poppins", sans-serif;
}
.per-det-inp:focus {
  outline: none;
  border-bottom: 2px solid #339af0;
  transition: all 0.2s ease-out;
}
.personal-d-label {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
  line-height: 1.1;
  color: #868e96;
  font-weight: 300;
}
.form-input-viewer {
  font-size: 1.5rem;
  font-weight: 500;
  color: #339af0;
}
.hide-reveal-form-icon {
  font-size: 2rem;
  color: #339af0;
}
.hide-form-container,
.show-form-container {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}
.hide-form-container:hover > .the-hover,
.show-form-container:hover > .the-hover {
  color: #1864ab;
  cursor: pointer;
}
.input-div {
  display: flex;
  flex-direction: column;
}
/* .hidden-input-divs{} */
.hidden-form-container {
  display: none;
}
.hidden-input-divs {
  animation: slide-up 300ms forwards;
}
@keyframes slide-up {
  from {
    transform: translateY(-2rem);
  }
  to {
    transform: translateY(0rem);
  }
}

/* -------------------------------------- AFTER FIRST FORM ------------------------------------------------------------- */

.prof-sum {
  margin-bottom: 1rem;
}
.summary-p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #868e96;
  margin-bottom: 2.5rem;
}
.text-style-icon-sizes {
  font-size: 1.2rem;
  color: #343a40;
}
.text-styles-- {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 0.5rem;
}
.pre-written-profession {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.pre-written-profession span {
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #868e96;
  font-weight: 300;
}
.close-pre-phrase {
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #868e96;
  font-weight: 300;
}
.close-pre-con {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.close-pre-con:hover {
  cursor: pointer;
}
.text-style-icon-sizes:hover {
  color: #339af0;
  cursor: pointer;
}
.fa-circle-plus {
  font-size: 2rem;
  color: #339af0;
}
.fa-circle-xmark {
  font-size: 2rem;
  color: #868e96;
}
.pre-written-profession > span {
  color: #339af0;
  cursor: pointer;
}
.fa-circle-xmark:hover {
  color: #868e96;
  cursor: pointer;
}
.summary-input {
  width: 100%;
  border: none;
  padding-top: 0.5rem;
  color: #495057;
  resize: none;
  background-color: #e9ecef;
}
.summary-input:focus {
  outline: none;
}
.text-styles-con {
  background-color: #e9ecef;
  padding: 1.5rem 1.3rem;
  padding-bottom: 0;
  margin-bottom: 4rem;
}
.text-styles-con:hover {
  transition: all 0.3s ease;
  box-shadow: #339af0 0px 2px;
}
.line-up {
  display: inline-block;
  height: 2rem;
  width: 0.1rem;
  background-color: #868e96;
}

/* --------------------------------- ASIDE -------------------------------------------- */
/* .div-and-form-con {
  position: relative;
} */

/* --------------------------- EMPLOYMENT DETAILS ------------------------------ */

.employment-div,
.education-div,
.link-div {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  background-color: transparent;
  padding: 1rem 2rem;
  margin-bottom: 3.5rem;
}
.add-employment,
.add-education,
.add-link,
.delete-link {
  color: #339af0;
  font-size: 2rem;
}
.add-employment-text,
.add-education-text,
.add-link-text {
  font-size: 1.5rem;
  font-weight: 500;
  color: #339af0;
}
.employment-div:hover,
.education-div:hover,
.link-div:hover {
  background-color: #e7f5ff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.start-end-date-div,
.start-end-date-div-edu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.start-end-date-inp,
.start-end-date-inp-edu {
  width: 50%;
}
/* calendar */
.calendar-back-pointer,
.calendar-back-pointer-edu {
  font-size: 2rem;
  color: #339af0;
}
.calendar-front-pointer,
.calendar-front-pointer-edu {
  font-size: 2rem;
  color: #339af0;
}
.calendar-back-front,
.calendar-back-front-edu {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  /* gap: 2rem; */
}
.calendar-back-pointer:hover,
.calendar-back-pointer-edu:hover {
  color: #1864ab;
  cursor: pointer;
  transition: all 0.3s ease;
}

.calendar-front-pointer:hover,
.calendar-front-pointer-edu:hover {
  color: #1864ab;
  cursor: pointer;
  transition: all 0.3s ease;
}

.calendar-year,
.calendar-year-edu {
  font-size: 1.8rem;
  font-weight: 700;
  background-color: #339af0;
  color: #fff;
  padding: 1rem 1.8rem;
  border-radius: 3rem;
  margin: 0 5rem;
}
.calendar-year:hover,
.calendar-year-edu:hover {
  background-color: #1864ab;
  cursor: pointer;
  transition: all 0.3s ease;
}

.calendar-months-con,
.calendar-months-con-edu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
}
.calendar-form-div-con,
.calendar-form-div-con-edu {
  position: relative;
}
.calendar-div,
.calendar-div-edu {
  max-width: 35rem;
  position: absolute;
  left: 2%;
  transform: translate(10%, 3%);
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.35s ease;
}

.calendar,
.calendar-edu {
  max-width: 35rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 3rem 2rem 3rem;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  background-color: #e9ecef;
  border-radius: 0.5rem;
  position: fixed;
}
.calendar-months {
  font-size: 1.5rem;
  background-color: transparent;
  padding: 1rem 1.5rem;
  border-radius: 3.5rem;
}
.calendar-months:hover {
  background-color: #c8e7f9;
  cursor: pointer;
  color: #1c7ed6;
  transition: all 0.3s ease;
}
.hide-show-calendar-div {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* -------------- employement textarea styles --------------------- */
.employment-details--,
.edu-details--,
.link-details-- {
  margin-bottom: 1.8rem;
}
.employment-form,
.education-form,
.socialLink-form {
  margin-top: 4rem;
}
.summary-input-emp,
.summary-input-edu {
  width: 100%;
  border: none;
  padding-top: 0.5rem;
  color: #495057;
  resize: none;
  background-color: #e9ecef;
}
.summary-input-emp:focus,
.summary-input-edu:focus {
  outline: none;
}
.text-styles--employment,
.text-styles--education {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-bottom: 0.5rem;
}

.pre-written-employment {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.pre-written-employment span {
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #868e96;
  font-weight: 300;
}

.pre-written-employment > span {
  color: #339af0;
  cursor: pointer;
}

.text-styles-con-employment,
.text-styles-con-education {
  background-color: #e9ecef;
  padding: 1.5rem 1.3rem;
  padding-bottom: 0;
  margin-bottom: 1rem;
}
.close-pre-phrase-employment {
  font-size: 1.3rem;
  margin-right: 1rem;
  color: #868e96;
  font-weight: 300;
}
.close-pre-con-employment {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}
.close-pre-con-employment:hover {
  cursor: pointer;
}

/* --------- employment suggestion texts -------------- */
/* .text-styles-con {
  width: 100%;
} */

.suggestion-texts-con-div,
.suggestion-texts-con-div-emp {
  max-width: 50rem;
  position: absolute;
  top: 10%;
  left: 98%;
  display: block;
  flex-shrink: 0;
  margin-left: 3rem;
  transform: translateX(-2%);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.text-styles-con,
.text-styles-con-employment,
.text-styles-con-education {
  position: relative;
}
.employment-details--,
.edu-details--,
.link-details-- {
  border: 1px solid #e9ecef;
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
}
.text-styles-con-employment:hover,
.text-styles-con-education:hover {
  transition: all 0.3s ease;
  box-shadow: #339af0 0px 2px;
}

.suggestion-texts-con-emp,
.suggestion-texts-con {
  width: 50rem;
}

.suggestion-con-emp,
.suggestion-con {
  max-width: 50rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-shrink: 0;
  justify-content: center;
  background-color: #fff;
  padding: 2rem 2rem;
  box-shadow: 0 3.2rem 5.4rem rgba(0, 0, 0, 0.06);
  border: 1px solid #868e96;
  border-radius: 5px;
}

.hide-suggestion-box-emp,
.hide-suggestion-box {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.suggestion-texts-employment,
.suggestion-texts {
  font-size: 1.4rem;
  line-height: 1.8;
  padding: 0.05rem 0.05rem;
  font-weight: 300;
  /* display: inline; */
}

.close-arrow-btn-con-emp,
.close-arrow-btn-con {
  display: block;
  height: 4rem;
  width: 4rem;
  background-color: #b2f2bb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-self: flex-start;
}

.close-arrow-btn-emp,
.close-arrow-btn {
  font-size: 2rem;
  color: #2f9e44;
}
.arrow-btn-employment,
.arrow-btn {
  font-size: 2rem;
}

.arrow-btn-con-emp,
.arrow-btn-con {
  display: block;
  height: 4rem;
  width: 4rem;
  background-color: #dee2e6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-self: flex-start;
}
.suggestion-texts-employment:hover,
.suggestion-texts:hover {
  background-color: #d0ebff;
  color: #1971c2;
  cursor: pointer;
  transition: all 0.3s ease;
}
.arrow-btn-con-emp:hover,
.arrow-btn-con:hover {
  color: #1971c2;
  background-color: #d0ebff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.arrow-btn-con-emp:hover + div .suggestion-texts-employment,
.arrow-btn-con:hover + div .suggestion-texts {
  color: #1971c2;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* job title updates */
.job-title-update-con-1,
.job-title-update-con-2,
.job-title-update-con-1-edu,
.job-title-update-con-2-edu,
.job-title-update-con-1-link,
.job-title-update-con-2-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.job-title-update-1,
.job-title-update-2,
.job-title-update-1-edu,
.job-title-update-2-edu,
.job-title-update-1-link,
.job-title-update-2-link {
  font-size: 1.3rem;
}

.job-title-update-icon[name="chevron-down-outline"],
.job-title-update-icon[name="chevron-up-outline"],
.job-title-update-icon-edu[name="chevron-down-outline"],
.job-title-update-icon-edu[name="chevron-up-outline"],
.job-title-update-icon-link[name="chevron-up-outline"],
.job-title-update-icon-link[name="chevron-down-outline"] {
  font-size: 1.5rem;
}
.job-title-update-con-1:hover,
.job-title-update-con-2:hover,
.job-title-update-con-1-edu:hover,
.job-title-update-con-2-edu:hover,
.job-title-update-con-1-link:hover,
.job-title-update-con-2-link:hover {
  cursor: pointer;
  color: #339af0;
  transition: all 0.3s ease;
}

/* ------------------------- link part ------------------------ */
.link-detailsAndDeleteCon {
  display: grid;
  grid-template-columns: 3fr 0.1fr;
  column-gap: 0.5rem;
  align-items: flex-start;
}
.delete-link-con {
  margin-top: 1rem;
}
.delete-link-con:hover,
.link-detailsAndDeleteCon:hover {
  cursor: pointer;
}
/*  ------------------- hide few things ----------------------- */
.hide-open-close-btn,
.hidden {
  display: none;
}

/* --------------------------------------------------------------------- */
